[Desktop Entry]
Name=directionsssss
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/directions/directions.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
